[2015-05-25 17:23] anko opened #1 "Should invalid variable names be translated? How?"
**Observed**:

[code]

gives `hi-there();`.

which is obviously very wrong, because `hi-there` was a single atom, but JavaScript understands hyphens in variable names as the subtraction operator.

**Expected**: A valid variable name, by some deterministic rules, or a decision to treat invalid characters as undefined or erroneous behaviour.

---

What should that variable name be?

Other Lisps comm

[2015-05-26 15:12] anko opened #2 "Macros aren't referentially transparent"
Macros currently use the macro table of where they are _called_, not where they are _defined_.  This can result in unforeseeable capture of user-defined macros.

Example:

[code]

Returns `no();`.  Should be `yes();`.

Macros should save the macro table when they're defined, and use that when called.

[Wikipedia has a good explanation of this too.](https://en.wikipedia.org/wiki/Hygienic_macro#The_

[2015-05-26 20:22] #2 closed, assigned to nobody

[2015-05-27 16:01] anko commented on #1
Another idea: Since S-expressions are dead easy to parse (and our parser is in another module anyway), could just deliberately outsource such decisions to a separate package (say "`esl-dedash`") and make the transformation a build step.

[code]

I'd prefer to avoid [Common Lisp's `set-macro-character` way](https://gist.github.com/chaitanyagupta/9324402) of doing this.  It feels like it's unnecessa

[2015-06-05 15:43] anko opened #4 "Macros defined in a "macros"-block run without the environment a "macro" runs in"
That means they can't call any of [the expected environment functions `evaluate`, `multi`, `is-atom`, `is-string`, `text-of`, `gensym` or `is-expr`](https://github.com/anko/eslisp/blob/9c8967a505017feae9915ffe364881e9f47b985b/src/translate.ls#L105-L124). That's pretty terrible, since it cripples the abilities of macros defined in separate modules.

It might make sense to **pass all that environmen

[2015-06-05 20:40] #4 closed, assigned to anko

[2015-06-06 13:08] anko opened #5 "(quote atomName) compiles quoted atoms to this.atom('atomName'), which fails if used in a nested function"
…because `this` is bound to the this-context of that inner function!

Example

[code]

Errors with

[code]

Inside `innerFunc`, `this` refers to `innerFunc` itself, which understandably doesn't have a property called `atom`.

This could be hacked around by modifying macros such that they assign `this` to some unpredictable generated variable name in the beginning of the macro function and compile

[2015-06-06 19:42] #5 closed, assigned to anko

[2015-06-06 20:27] anko opened #6 "Macros are still passed most arguments in compiler form"
Now that macros can return anything they need to as plain JS types (arrays become lists, numbers and objects become atoms, strings become strings), it would be sensible for their arguments to be converted to those JS types when passed in. Then operating on them (such as by `console.log`ging them) gives less surprising results.

Better separation of concerns too.

[Lists already get this treatment;

[2015-06-06 23:00] #6 closed, assigned to anko

[2015-06-06 23:56] anko commented on #1
Interestingly, this behaviour can currently be abused as a JavaScript-syntax-embedding "feature" that [works for the wrong reason](http://www.catb.org/jargon/html/K/kluge.html). Example: `(console.log "hi")` → `console.log('hi');`. The S-expression parser doesn't (currently) support escaping of parentheses in atom names, but if it did, one could give eslisp input of `console.log\('hello\ there'\)`

[2015-06-07 12:05] #1 closed, assigned to nobody

[2015-09-03 19:42] anko opened #7 "Macros returned from a macro aren't in scope for other returned statements"
Test patch:

[code]

Either the returned macro isn't being entered in the macro table at compilation or the rest of the returned statements can't see it for some reason. Will investigate.

[2015-09-06 18:11] anko commented on #7
Ech, I think I finally see what's happening. [This assignment](https://github.com/anko/eslisp/blob/08f4dfa513c30ea1e043373d355e3e005f3eee8e/src/import-macro.ls#L161-L162) only ever writes the compiled macro to one of the two tables, never both.

The expressions being compiled read macros from their local `flattened-macro-table` (a copy of the outer macro table), but writes new macros it creates on

[2015-09-08 00:01] #7 closed, assigned to anko

[2015-09-17 22:07] anko opened #8 "Whole-program-wrapping macros are awkward to use"
The [eslisp-camelify](https://github.com/anko/eslisp-camelify) macro makes sense to wrap around your whole program if you like to use `this-kind-of-variable-names` and have them converted to `thisKindOfVariableNames`. Likewise, [eslisp-propertify](https://github.com/anko/eslisp-propertify) lets you use `a.b.1` as shorthand for property access, instead of `(. a b 1)`.

Such global transform macros

[2015-09-19 12:39] anko commented on #8
Serious problem with keeping this separate in an `eslisp-wrap` program or `sed` script is that they can only do string concatenation, without regard for what the code actually means. Since an outer macro's aggressive transform can also transform the macro definitions and calls that it wraps, the abstraction would [leak](https://en.wikipedia.org/wiki/Leaky_abstraction).

For example, assume `eslisp

[2015-09-22 19:44] #8 closed, assigned to nobody

[2015-09-22 19:58] anko commented on #8
Option ② (the compiler flag) is in! It ended up being more descriptively called `--transform`/`-t` (not `--wrap`) and being specifiable multiple times instead of taking a comma-separated list.

Here's how much cleaner this is than a `sed`-hack: https://github.com/anko/eslisp-fancy-function/commit/37e51ca8cd1ec36bd5c7942a902038fab1130184

[2015-09-23 13:52] anko opened #9 "More helpful syntax error messages"
Syntax errors look like this right now:

[code]

The `SyntaxError`-object [sexpr-plus](https://github.com/anko/sexpr-plus) returns has `line` and `column` properties. We should perhaps use them.

---

Invalid AST errors look like this:

[code]

That's already getting there, but it would still be best if exact positions in code were passed on to AST nodes, so the error reporter could point out the

[2015-09-23 16:03] idibidiart opened #10 "Update comment about ClojureScript"
<<
ClojureScript is a heavy approach; a full Clojure compiler targeting JavaScript. Unlike eslisp, it requires the JVM and totally overrides JS' semantics.

ClojureScript can be self hosted now, so it will run in the browser without compilation.

https://github.com/swannodette/cljs-bootstrap

[2015-09-23 16:06] idibidiart opened #11 "ES6 / ES7 support via BabelJS"
Is it possible to use ES6/7 features like async/await ?  Can you show a working example?

[2015-09-23 16:16] anko commented on #10
Cool, didn't know of cljs-bootstrap.

It looks in-progress though. From [their readme, section _Usage_](https://github.com/swannodette/cljs-bootstrap#usage):

Do you know more about that?

[2015-09-23 16:25] idibidiart commented on #10
I think that is reference to the currently limited macro capability, but you can run all ClojureScript in the browser today! There is even a REPL based on that. Correct me if I'm wrong:)

[2015-09-23 16:29] anko commented on #11
Not yet.

I've been targeting ES5 only so far, because the [estree spec](https://github.com/estree/estree) and related tooling are still catching up with ES6 (e.g. estools/esvalid#7). So if it existed, it would have to be behind an `--experimental` flag.

However, it should be quite possible to add even now: All the [built-in macros](https://github.com/anko/eslisp/blob/master/src/built-in-macros.l

[2015-09-23 20:42] anko commented on #10
Limited macro capability means it's not quite all of ClojureScript! :wink:

I'll add a note about it to the comparison.

[2015-09-23 20:42] #10 closed, assigned to nobody

[2015-09-23 20:49] idibidiart commented on #10
Right. I think eslisp, despite lacking ClojureScripts very powerful data manipulation capabilities, is an interesting addition to the JS ecosystem... it may make reasoning about algorithms a lot simpler, but may also become a thing of acquired taste. Great work btw... I love that someone did this.

[2015-09-23 21:00] anko commented on #10
Thanks, that means a lot to me. :)

[2015-09-23 21:27] anko opened #12 "Docs should have a list of all built-in macros"
@quavmo [raised this in chat](https://gitter.im/anko/eslisp?at=56031647a0ecf0e07a8e74f5): only [the source code](https://github.com/anko/eslisp/blob/master/src/built-in-macros.ls#L84) currently has an obvious "here you go, read this" list of all built-in macros.

It should exist in docs.

[2015-09-23 22:58] tabatkins opened #13 "The (.) macro's design is broken"
In the README, you imply that `(. a 3)` compiles to `a[3]` (good), but then state that `(. a b)` compiles to `a.b` (in other words, for all but the first argument atoms are converted to symbols/strings).  This means it's impossible to access into a data structure with a variable; there's no way to write the equivalent of JS's `a[b]`.

To do this properly, named property access needs to always be d

[2015-09-23 23:15] anko commented on #13
The computed member expression macro is called `get`.

`(get a b)`→ `a[b];`
`(. a b)`→ `a.b;`

It's mentioned toward the end of [the tutorial section about arrays and objects](https://github.com/anko/eslisp/blob/master/doc/basics-reference.markdown#arrays-and-objects). I realise the distinction can be confusing though, and the docs should communicate it better.

[2015-09-23 23:23] anko commented on #13
In JavaScript, `a.b` does the same as `a["b"]`, so I think it's logical that `(. a b)` and `(. a "b")` should do the same also—right?

[2015-09-23 23:34] tabatkins commented on #13
Ah, kk. I disagree with the design, but at least it can be worked around.

The difference is that in `a.b` the "b" part syntactically cannot be a variable, and you quickly learn the difference between `a.foo` and `a[foo]` (along with what other things can't be expressed via dot notation, like `a[3]` or `a[b+"foo"]`).

The `(.)` macro, though, eliminates the syntax distinction.  You can put whateve

[2015-09-24 00:27] anko commented on #13
Thanks so much for your thoughtful analysis. I think I see what you mean now.

What you suggest is that if the `.` macro behaved such that identifiers in it always implied _computed_ member expressions (e.g. `(. a b)` → `a[b]`) and strings always _non-computed_ member expressions (e.g. `(. a "b")` → `a.b`), then we could discard the `get` macro altogether and eliminate this confusion.

Test cases:

[2015-09-24 01:01] tabatkins commented on #13
Yeah, I'm happy to do a review. ^_^

[2015-09-24 15:23] lhorie opened #15 "suggestion: rename `=` to `var`"
I think `(var a 1)` and `(var a)` read closer to their intent than `(= a 1)` and `(= a)`

Also, ES6 has `let`, so including a `let` macro into eslisp later would be more orthogonal if the hoisted declaration identifier is `var`

And that would free up the `=` identifier so you could use that for assignment instead of `:=`, to keep things closer to js syntax

[2015-09-24 17:47] anko commented on #15
I agree—those should be the defaults.

The current names are remnants from when it hadn't quite clicked yet that I wanted eslisp to just clearly map to JS.

[2015-09-24 18:04] #15 closed, assigned to nobody

[2015-09-24 18:10] anko commented on #15
In v0.5.0. :sparkles:

[2015-09-25 13:43] anko opened #17 "We should have a REPL"
@jkleiser requested this [on gitter](https://gitter.im/anko/eslisp?at=56054147131b784f781fdaa7) and I agree. A [read-eval-print-loop](https://en.wikipedia.org/wiki/REPL) would be great to have especially for quick tests.

[2015-09-25 13:58] #12 closed, assigned to nobody

[2015-09-25 14:03] anko opened #18 "Source maps?"
Requested by @impinball and @Paraknight on separate occasions.

Source maps are supplementary info attached to JS code that lets debuggers point at what other-language file some piece of JavaScript was compiled from, so humans can find what to debug. [More here](http://www.html5rocks.com/en/tutorials/developertools/sourcemaps/).

Related to #9, as both require a way to track where in the input sou

[2015-09-25 21:52] anko commented on #17
Simple REPL merged. However, it doesn't yet support macro definitions: leaving this open for now.

[2015-09-26 01:12] #17 closed, assigned to nobody

[2015-09-26 01:13] anko commented on #17
Macros now persist in the REPL too.

[code]

[2015-09-26 20:10] anko commented on #9
Here's what we have as of bf7bb54, shown in the REPL:

![example eslc session, showing off colours](https://cloud.githubusercontent.com/assets/5231746/10119538/2c8b8682-6499-11e5-9218-322d1be282d0.png)

An illegal identifier occurring in a built-in macro is highlighted in source. This should work with any error returned by [esvalid](https://github.com/estools/esvalid), but I haven't tested it comp

[2015-09-27 09:27] Gonzih commented on #13
Why not use `.` for method invogation and `get` for property access? Previous and new `.` semantics feel very confusing to me.

[2015-09-27 14:55] anko commented on #13
@Gonzih I don't understand. Could you give an example?

[2015-09-27 15:01] Gonzih commented on #13
It might be a bit far from current implementation and ideas. Also might be influenced by clojure heavily.

What I don't like is that property access and function invocation are separate things.

It's to verbose to get function and then invoke it. For me it feels much more stricts to use get to access properties, but (. a b c) would alsay compile to a.b(c). But when I think about it it might be dif

[2015-09-27 15:45] anko commented on #13
My idea is to keep the core language very plain (so e.g. `.` means exactly a member expression, nothing else), then let user-defined macros add sugar, and make user macros as easy as possible to write and start using.

`(. a b c)`→`a.b(c);` sounds like it would work great as a user macro though. The [eslisp-fancy-function](https://github.com/anko/eslisp-fancy-function) macro is an analogous thing

[2015-09-27 15:46] Gonzih commented on #13
ok, I understand. I will try to play with user defined macros for my needs. Thanks!

[2015-09-27 15:49] anko opened #21 "Function declarations and named functions can't be written"
These currently can't be written:

[code]

[code]

Raised by @impinball [in chat](https://gitter.im/anko/eslisp?at=5607822a696b13767a90ab9d).

[2015-09-27 16:56] Gonzih commented on #13
Then I would say that removing `get` function makes sense :)

[2015-09-27 22:32] #21 closed, assigned to nobody

[2015-09-27 23:33] anko commented on #13
@Gonzih It's not quite just a matter of removing `get`—there are some downsides too. I've summarised the points for and against it [here](https://github.com/anko/eslisp/pull/14#issuecomment-143376495). Do you think the tradeoff is worth it?

[2015-09-28 07:25] Gonzih commented on #13
Ugh i forgot about names that collide with things like catch/for etc. If it's only case is it possible to make . macro a bit smarter and if name collides with reserved keyword convent this call in to ["for"]?

`(. a "for") -> a["for"]` instead of `a.for`

of course then you kind of tie macro implementation to the underlying js implementation without any easy way to extend it.

Removing get feels l

[2015-09-28 12:02] anko commented on #13
@Gonzih The flexibility is sometimes needed. Quoting @lhorie [from chat](https://gitter.im/anko/eslisp?at=56044d40131b784f781fbb23):

---

All three of `a.b`, `a["b"]` and `a[b]` must be expressible, but we only have two text-containing AST node types to work with (identifiers and strings). So to distinguish _computed access_ from _static access_, we really do need 2 separate macros.

With that, I

[2015-09-28 15:00] anko opened #22 "Object getters and setters are not supported"
That's [this `get`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/get):

At the moment, eslisp cannot emit this:

[code]

Raised by @lhorie [in chat](https://gitter.im/anko/eslisp?at=56094917519547fc1e3ace8d).

[2015-09-28 22:02] tabatkins commented on #13
No we don't, and the current design already conflates them heavily _anyway_; the distinction is artificial and confusing.  `(. a 1)` can tell that it needs to desugar to `a[1]`, and `(. a (+ "foo" "bar"))` knows that it needs to desugar to `a["foo"+"bar"]`.  On the other hand, the current design _incorrectly_ assumes that `(. a foo-bar)` should desugar to `a.foo-bar`, and ends up throwing an error

[2015-09-28 22:20] anko commented on #13
@tabatkins In that case, I must have completely misunderstood.

To be maximally clear, what forms do you think should compile to `a.b`, `a[b]` and `a["b"]`?

[2015-09-28 22:31] tabatkins commented on #13
`(. a b)` should compile to `a[b]` at all times - you're clearly invoking the variable `a` and the variable `b`, and any other interpretation is confusing.  (Put another way, there's no reason, Lisp-wise, for `(.)` to be a macro, and so per the principle of least power, it should be written as a function.  And if it's a function, then `a` and `b` are definitely both variables in that expression.)

[2015-09-28 22:54] whacked commented on #13
@tabatkins which means
1. `(. a one)` compile to `a[one]`
2. `(. a "one")` compile to `a.one`
3. `(. a ".one")` compile to `a[".one"]`

one problem with not having an strict compile to bracket-access syntax is if you use a minifier, 2 is subject to renaming, but generally if you specified the string-quoted attribute already, you don't want it to be renamed [1]. In effect the dot accessor here acts

[2015-09-28 22:59] anko commented on #13
@tabatkins

That's the problematic part.

For this reason—

—there needs to be a way to write both the `a.b` and `a["b"]` form of any _b_.

With your idea, for a given _b_ for which _both_ the `a.b` and `a["b"]` forms would be valid outputs, the `a.b` form will always be chosen, and the `a["b"]` form can't be expressed at all.

[2015-09-28 23:03] tabatkins commented on #13
Ah, that's an interesting objection.  In that case, how about everything always desugars to brackets, except self-evaluating symbols (`:b`) desugar to dot-access (and throw an error if they can't, so `(. a :foo-bar)` is invalid, but `(. a "foo-bar")` is fine).?

That gives us complete consistency, while allowing the minifiable `a.b` form with only a single character "tax" for syntax correctness.

[2015-09-28 23:06] whacked commented on #13
@tabatkins to my knowledge the current state is to use `(. a b)` basically in the same way as `(.-b a)` in cljs, i.e. _always_ compile to `a.b`; and `(get a b)` will _always_ compile to `a[b]`.

I haven't seen any discussion of the `:keyword` syntax, but @anko seems to prefer having extra syntax processors in transformation macros, so that's what I'm doing.

[2015-09-28 23:15] anko commented on #13
That's correct, with the small detail that `.` compiles string and number literals to square-bracket notation because it's the only sensible interpretation. But that's a detail.

---

As for `:keyword`: I'd like to avoid adding more types to the AST. Strings and identifiers are enough text-containing AST nodes for JS, so why not for eslisp? I'd rather have 1 more macro than 1 more AST node type.

[2015-09-28 23:17] whacked commented on #13
@anko re: `:keyword`, that's fair. In https://github.com/Gozala/wisp `:keyword` is just sugar for `"keyword"` so the transform macro is trivial

[2015-09-28 23:23] tabatkins commented on #13
JS has "just strings and identifiers" because it has _syntax_ that lets it provide special rules for how to interpret them in different circumstances; that's how it can get away with `a.b` and `a[b]` meaning completely different things.

Lisp has a vastly simplified syntax, and so it has to be somewhat more explicit about a number of things.  Or it can "fake" syntax, like cljs (validly) does, with

[2015-09-28 23:31] lhorie commented on #13
For posterity, I had suggested this in the chat: `(. a b) -> a[b]`, `(. a "b") -> a["b"]` and `(. a 'b) -> a.b`, under the rationale that `quote` is the lisp mechanism to work with a symbol's label as opposed to its evaluated value (but I acknowledged this isn't necessarily a popular idiom).

Re: `:keyword`, this type came up separately on the topic of dynamic property names in ES6 as a potential

[2015-09-28 23:33] anko opened #23 "The `object` macro is not ES6-friendly"
ES6 introduces [dynamic property names in object expressions](https://github.com/lukehoban/es6features#enhanced-object-literals):

[code]

At the moment, eslisp's `object` macro can't unambiguously accommodate that. Given that `(object a b)` compiles to `{ a : b }`, what should compile to `{ [a] : b }`?

Similarly to previously in #13, this can't simply be solved by having `(object "a" b)` compile

[2015-09-28 23:51] anko commented on #13
I'm really warming up to @lhorie's `quote` suggestion:
- It would address @tabatkins' very valid concerns about predictability.
- It doesn't require adding any new AST types or macros.
- Actually, we can even discard the `get` macro that way.
- The same idiom could be used to also fix #23, which I'm totally stumped on otherwise.
- User macros to revert the current behaviour are trivial to write.

[2015-09-30 18:07] whacked commented on #13
personal vote :+1:

caveat is my experience is only from cljs and wisp, but within these families this change looks not bad, and I will use this feature

[2015-09-30 19:20] tabatkins commented on #13
Quote is fine, yeah.  In "real lisp" it causes the value to be of type SYMBOL, same as `:b` would.  I'm not sure how that allows you to avoid adding a new AST type, tho - `:b` is also of type SYMBOL.  (Technically it's of type KEYWORD, which is a subtype of SYMBOL.)

And yes, the object notation from #23 has the same problems.  I was going to bring it up when this thread was resolved. ^_^

[2015-09-30 19:26] tabatkins commented on #23
Valid JSON can be done separately via a `(json)` function; that can limit values to valid JSON values, and invoke a "jsonify" contract for values that aren't valid JSON.

[2015-09-30 20:44] anko opened #24 "Replace transform macros with proper reader macros"
At the moment, there is no programmatic access to the parser (currently [sexpr-plus](https://github.com/anko/sexpr-plus)), which would be necessary to customise syntax (e.g. for square-bracket array notation).

This can to some degree be done by abusing transform macros (which @whacked has toyed with), but it's cumbersome and fragile, and all whitespace or other characters that the default parser

[2015-10-05 10:01] stasm opened #25 "Error when requiring macros from relative paths"
I'm not able to require macros from local files defined by a relative path.  It seems like `eslc` tries to resolve the `require` paths relative to the location of the `eslisp` package.

[code]

[2015-10-05 13:21] lhorie commented on #23
@impinball brought up another issue in the chat:

In total, there are 8 cases in ES6:
- regular properties: `{a: b}`
- regular properties w/ string key: `{"a": b}`
- computed properties: `{[a]: b}`
- shorthand: `{a}`
- getter/setter: `{get a() {}, set a() {}}`
- getter/setter w/ string key: `{get "a"() {}, set "a"() {}}`
- method: `{a() {}}`
- method w/ string key: `{"a"() {}}`

[2015-10-05 14:44] dead-claudia commented on #23
Yep. I would like to mention that the shorthand method can be done without, and in [many](http://coffeescript.org) [different](http://livescript.net) [compile-to-JS](https://github.com/clojure/clojurescript) [languages](http://maxtaco.github.io/coffee-script/), and even in Lua (another prototype-based language), that functionality simply doesn't exist. [1]

That still leaves 4 different versions t

[2015-10-05 14:59] lhorie commented on #23
Oh, looks like I missed a bunch other cases:
- `{* a() {}}` (generator method shorthand)
- `{* "a"() {}}` (generator method shorthand w/ string key)
- `{[a]() {}}` (computed method)
- `{get [a]() {}}` (computed getter/setter)
- `{* [a]() {}}` (computed generator method shorthand)

Note that, unlike shorthand syntax (`{a}`), method shorthands (`{a() {}}`) are functionally different from `{a: functi

[2015-10-05 15:39] anko commented on #25
Confirming. I remember this happening previously, which is why [this test](https://github.com/anko/eslisp/blob/master/test.ls#L838-L851) exists. Seems like it's not testing what I thought it was testing!

I'll investigate.

[2015-10-06 13:30] anko commented on #25
Hang on, bad tests. Reworking that.

[2015-10-06 13:37] #25 closed, assigned to nobody

[2015-10-06 13:50] anko commented on #25
The fix is in 0.6.1. Your example should work now. [This automated test](https://github.com/anko/eslisp/blob/064b8b2e6b746c2cdf9868b11bc20cdd873d4a40/test.ls#L838-L865) was changed to match it.

[2015-10-06 14:00] stasm commented on #25
Well, that was quick, thanks!

[2015-10-06 18:14] tabatkins commented on #23
There are a lot of functions similar to this in Lisp, where you have a bunch of key/value pairs, some of which can have different syntax.  They all work by taking a list of lists, like:

[code]

This sort of syntax, while it requires a little more typing than the "just pair them off" plist-inspired syntax that `(object)` currently uses, is unambiguous and allows for all the object-literal variants

[2015-10-06 20:58] dead-claudia commented on #23
That looks way better.

On Tue, Oct 6, 2015, 14:14 Tab Atkins Jr. notifications@github.com wrote:

[2015-10-07 14:01] lhorie commented on #23
Yeah, `let` form comes to mind. Speaking of which, I realized that `var` has the same issue (i.e. can't express `var a, b;`), so it would also need to change to `(var (a 1) (b)) => var a = 1, b` in order to support multi-variable declarations.

[2015-10-07 17:02] tabatkins commented on #23
It doesn't _need_ to, necessarily; leaving out the value is equivalent to setting it to `undefined`.  But it is probably good to be consistent?

[2015-10-07 19:07] dead-claudia commented on #23
@tabatkins For multiple declarations, it probably is (see my initial comment on the object shorthand ambiguity). For a single declaration, I would love to see this as a shorthand for a common case:

[code]

[2015-10-07 19:18] anko commented on #23
@impinball Ambiguity: Does `(var a b)` compile to `var a = b;` or `var a, b;`?

[2015-10-07 19:34] dead-claudia commented on #23
@anko I was initially thinking of that, but I decided to not bring it up in the first place, as I already knew about the ambiguity. I was also specifically talking about single declarations, where `var a, b` is literally two separate declarations in one statement.

Or to more directly answer your question, that would compile to `var a = b`. Think of `(var a 1)` as a shorthand for `(var (a 1))`, wi

[2015-10-07 20:24] lhorie commented on #23
Yes, that was the ambiguity that I was trying to raise.

Personally, I don't really like the idea of special casing `(var a 1)`, because it becomes an extra edge case to deal w/ if you're writing an AST visitor

Also, it creates inconsistent indentation rules:

[code]

But then again, indentation rules can always be enforced at a styleguide level

In any case, I think it makes sense to standardize

[2015-10-08 02:23] dead-claudia commented on #23
I get what you mean. I've just always preferred single declarations instead of multiple in my projects, particularly for initialized variables (less diff noise).

[code]

Just personal preference. I know the other is more idiomatic for Lisp dialects, though.

[code]

[2015-10-08 23:20] dead-claudia commented on #23
**Edit: added shorthand.**
**Edit 2: edited member expressions per [my suggestion in #13](https://github.com/anko/eslisp/issues/13#issuecomment-147721217).**

I have an idea for solving the `object` dilemma:
1. Make `'name` be a literal key, and `name` be a computed key.
2. Make static keys for `object` as follows:

[code]

[code]

   The preceding quote is idiomatic in Common Lisp, and a similar

[2015-10-08 23:44] tabatkins commented on #23
Looks good overall, but your 1-value syntax is wrong.  We want it to match `{a}`, which is equivalent to `{"a": a}`.  So the 1-value syntax should _only_ allow actual variables, like `(object ('a))`.  Having a computed key is an error.

So to summarize:
- 1 value: must be a symbol, like `(object ('a))` => `{a}`.
- 2 value: desugars to normal property, like `(object ('a b))` => `{a: b}`, or `(objec

[2015-10-08 23:57] dead-claudia commented on #23
@tabatkins
1. I overlooked that. I fixed my initial comment to use that instead.
2. Correct.
3. Correct.
4. Correct.

[2015-10-08 23:59] dead-claudia commented on #23
Also, are you all okay with the implicit lambda?

[2015-10-09 00:53] tabatkins commented on #23
Yeah, I got no problems with implicit lambda.

[2015-10-09 01:34] lhorie commented on #23
Looks very similar to what I currently have in that toy compiler I've been working on, except that I use a special form for computed keys instead of non-computed keys.

For comparison, here's what some of my tests look like right now:

[code]

I'm still toying w/ it and will probably replace the `_[]` atom w/ something else, but the idea is to eventually sugar the computed key form w/ a reader mac

[2015-10-09 04:30] dead-claudia commented on #23
Not too sold on that class syntax, though. I'm too busy fixing my computer
to type out a detailed reply, but I don't like having to use the extends
keyword. It just doesn't feel right to me.

On Thu, Oct 8, 2015, 21:34 Leo Horie notifications@github.com wrote:

[2015-10-09 12:58] lhorie commented on #23
@impinball both class id and superClass are optional in class expressions, so `(= x (class a))` would be ambiguous if both id and superClass were simply identifiers. (i.e., is it `x = class a {}` or `x = class extends a`?)

I'm currently doing it this way to maintain consistency with the keyword verbosity of other constructs, i.e. I have `(catch ...)`, `(finally ...)`, `(else ...)`, `(case ...)`,

[2015-10-09 15:27] reverofevil opened #26 "How to convert JS into eslisp syntax?"
I would like to reimplement some infrastructure like `browserify` over eslisp syntax, because it's common for such utilities to have imperative API that is very hard to extend, and I don't trust their conversion methods. But this would require not only JS pretty printer, but a JS parser too.

Is there already such an utility?

[2015-10-09 18:10] dead-claudia commented on #23
Yeah... They're different languages. And my opinion isn't exactly required
to implement. Plus, we kinda need to sort out objects before moving on to
classes here, since class methods should have similar syntax to object
methods.

On Fri, Oct 9, 2015, 08:58 Leo Horie notifications@github.com wrote:

[2015-10-09 20:02] anko commented on #26
There's no JS → eslisp [decompiler](https://en.wikipedia.org/wiki/Decompiler), if that's what you mean.

It might be possible to write a decompiler, using [esprima](http://esprima.org/) to parse JavaScript into an [estree](https://github.com/estree/estree) object and writing logic that does the inverse of the [built-in macros](https://github.com/anko/eslisp/blob/master/src/built-in-macros.ls), and

[2015-10-09 20:20] anko commented on #23
@impinball Many thanks for [the summary](https://github.com/anko/eslisp/issues/23#issuecomment-146714136). That'll make a useful base for tests.

[2015-10-09 20:36] anko opened #27 "User-macro calls given as user macro arguments always compile to function calls"
As @stasm [mentions](https://github.com/anko/eslisp-fancy-function/issues/1#issuecomment-145901313) in anko/eslisp-fancy-function#1, if a call to a user-defined macro is given as a parameter of another user-defined macro, it always compiles to a function call, not to the results of that macro.

Example:

[code]

Expected output:

[code]

Actual output:

[code]

---

This does not affect built-in m

[2015-10-09 20:52] stasm commented on #27
Interesting. I'm sure I'm missing something here, but why would the user want the inverse behavior?

If the user has defined/imported the `b` macro in the same scope, why would they want to return the atom b?  My expectation would be that the `b` macro gets expanded: either before it's passed to the `a` macro, or after.

[2015-10-09 21:03] stasm commented on #23
Isn't this inconsistent with the `.` macro?  A quoted atom should evaluate to itself:  in `(. console log)`, `log` evaluates to `log` in JS.  When defining the object, I'd expect the same behavior: `(object (log (lambda …)))`—because, again, `log` evalues to `log` in JS: `{log: function() {}}`.

[2015-10-09 21:41] tabatkins commented on #23
No, this is consistent with the planned changes to the `(.)` macro.

In your example, neither atom is quoted, so they shouldn't evaluate to themselves, but rather to the variable they name.

[2015-10-09 21:43] stasm commented on #23
Ah, of course, my bad! In my example, `log` doesn't end up as a reference to a variable.

[2015-10-09 21:45] tabatkins commented on #23
But it will, per #13.  The current design is broken, as it's not compatible with computed property names.

[2015-10-09 21:46] stasm commented on #23
Yes, I see, it makes sense now :)

[2015-10-09 22:44] anko commented on #27
Apologies for the excess conciseness. :smile:

An example might help:

[code]

At the moment, that compiles to `hello();`.  There's no way to get `hi;`, because the `(hello)` passed as an argument to `passthrough` is never macro-expanded.

If the results of a macro were expanded _after the call returns_, there would be no way for a macro to output a call to a function with the same name as a macro

[2015-10-09 22:56] stasm commented on #27
Thanks for the explanation.  Perhaps this can be mitigated by setting proper expectations instead of code?  Since macros share the same namespace as functions and are expanded before the code is run, the user should expect that a macro with the same name as a function will be expanded and the function will not be called.

[2015-10-09 23:06] anko commented on #13
Reopening to clarify that the proposed solution hasn't yet been implemented.

[2015-10-09 23:11] anko commented on #23
:point_up: Correct.

Sorry, the confusion is my fault. #13 should have been marked open. We had some confusion about the exact nature of the problem.

[2015-10-13 13:49] dead-claudia commented on #13
Suggestion for this, inspired by [my suggestion in #23](https://github.com/anko/eslisp/issues/23#issuecomment-146714136): make static properties `(. obj 'foo)` and computed properties `(. obj foo)` or `(. obj (func))`. Does that sound like a good resolution for this?

[2015-10-13 13:58] dead-claudia commented on #23
Made another edit to the main suggestion, per [my comment in #13](https://github.com/anko/eslisp/issues/13#issuecomment-147721217).

[2015-10-13 14:03] dead-claudia commented on #27
I think we will need a `macroexpand` function for this. That's probably the best way to handle this.

[2015-10-14 16:01] lhorie commented on #27
Macro expansion should be recursive

In CommonLisp:

[code]

My understanding of macroexpand is that it's a debugging tool you call from the REPL to troubleshoot a macro, not something you would write in a production macro. I'm not even sure you can have a non-macro form w/ the same name as a macro form in any traditional lisp. In CL, for example, the last definition wins:

[code]

[code]

Sweet.j

[2015-10-14 17:20] vendethiel commented on #27
Macro expansion definitely should be recursive. Common Lisp is a Lisp-2 (a namespace for variables, and one for functions + macros, which have very similar behavior, and can call one another... But arguably CL is pretty weird in its "everything-is-late-bound" behavior.

Macroexpand(-1) are debugging tools, AFAIK (some implementations may give you even more advanced tools, like SBCL's `macroexpand-

[2015-10-14 17:21] vendethiel commented on #27
Also, Sweet.js's "let macros" do some weird stuff to make the macro not expand... Only inside itself. It'll be expanded everywhere else normally, AFAIK

[2015-10-14 18:27] lhorie commented on #27
FWIW, I just tried in Racket REPL and also got "last definition wins" behavior

[code]

[code]

Sweet.js let macros do feel like a bolted-on hack, but it's the only way I was able to output a variable called `m` while also having a macro called `m`.

I think there is a subtle but important difference between lisp macros and sweet.js macros: lisp macros occupy space in the runtime's v-table, but sw

[2015-10-14 18:36] vendethiel commented on #27
Even that stops somewhere. As I've heard, old lisps literally stored functions as cons cells, but that proved to be too slow for "real-life stuff". That's why later lisps change it

[2015-10-14 18:44] vendethiel commented on #27
I think macros are confusing enough we don't really need this though, do we? Care to explain your use case a bit more, maybe? I might've not understood it.

[2015-10-14 18:56] lhorie commented on #27
My use case is that one of my API functions (`m`) has no side-effects, and it's typically used with hard-coded values, so it can be pre-computed ahead-of-time. So I wrote a macro named `m` that overshadows the function `m` so that `m("#foo.bar")` would become `{tag: "div", attrs: {id: "foo", class: "bar"}, children: []}` after a compilation pass. The problem is that `m` is also the namespace for t

[2015-10-14 19:27] vendethiel commented on #27
Oh, I see now. Well, but the `m` identifier in a Lisp-2 is not special (a function /= a variable, so having a `m` identifier isn't a big deal). In a Lisp-1, a good module system could probably help? `(require [mithril :use [m component])`?

[2015-10-15 18:48] lhorie commented on #27
Regardless of whether it's a lisp 1 or 2, there's still a difference between a runtime macro and a compile-time macro. Eslisp macros run at compile-time, so they become subjected to the possibility of variable shadowing.

My suggestion, based off of what I said above, is to have `macro` be always recursive like in other lisps, and add a `letmacro` form that does the equivalent of a sweetjs let mac

[2015-10-17 09:24] legokichi opened #28 "How can I use macroexpand and macroexpand-1 in eslisp?"
I want to use `macroexpand` and `macroexpand-1` like common lisp.
Or `eslc` compiler need to output s-expression source code after apply macro.

[2015-10-20 00:25] dead-claudia opened #29 "Numbers are very restricted, inconsistent"
Numbers are crudely checked against the regex `/-?\d+(\.\d+)/` (accounting for two regexes with identical meaning. This is very restrictive compared to most languages. Example of the full ES6 offering:
- Binary: `0b1010 === 10`
- Octal: `0o17 ==== 13`
- Hex: `0xf0 === 240`
- Trailing dot: `42. === 42`

This probably should be improved (and is on my TODO list if I can get time).

[2015-10-20 02:51] dead-claudia opened #30 "Try-catch with anything other than an s-expression throws a TypeError"
That stack trace should be descriptive enough. I tried every possible atom that wasn't an s-expression, and it always throws.

[code]

I expected it to print out something like this:

[code]

[2015-10-21 23:53] anko commented on #28
That is not currently possible.

`macroexpand` would be possible to add, but might break in the future if macros become able to return [estree](https://github.com/estree/estree) objects instead of lists/atoms/strings.

Overall, I am finding it difficult to keep everything feeling familiar to lisp. The macro system still needs lots of work, so I am scared of adding things that would force a certain

[2015-10-22 00:02] anko commented on #13
@impinball Yep, that's the plan; @lhorie [outlined it similarly before](https://github.com/anko/eslisp/issues/13#issuecomment-143901511) too.

The issue blocking me from doing this right away is that currently `'foo` compiles to the wrong value when used anywhere other than as a macro return value: `'foo` → `({ atom: 'foo' });`. This in turn is because user macros and built-in macros actually use

[2015-10-22 00:09] #30 closed, assigned to nobody

[2015-10-22 00:12] anko commented on #30
Thanks for the catch! Fixed in v0.6.2.

[2015-10-22 00:18] anko commented on #29
[Indeed](https://github.com/anko/eslisp/blob/v0.6.2/src/ast.ls#L1-L4). I didn't add other ways of specifying numbers because I didn't want to deal with the potential bugs yet, and pulling in all of [esprima](https://github.com/jquery/esprima) as a dependency just to get exact JS number-parsing felt silly.

[2015-10-22 13:51] lhorie opened #32 "`()` throws compilation error"
In eslisp, you can use `()` in the `(for () () ())` special form to create an infinite loop `for (;;) {}`

But if you use `()` in an expression, it throws a compilation error, e.g. `(+ 1 ()) -> BinaryExpression right member must be an expression node`.

Typically `()` evaluates to `nil`, so I'd expect the output to be `1 + null` with no compiler error.

It'd still need to keep current behavior in

[2015-10-22 15:05] dead-claudia commented on #29
@anko A patch I'm working on for [sexpr-plus](https://github.com/anko/sexpr-plus) is actually going to trash the PEG.js dependency, by doing its own dedicated parsing. I'm writing it in pure LiveScript, and once I'm ready, it'll be sent. I found that writing the parser with locations and everything turned out to be only about 50% longer than the PEG.js version. Part of the reason I'm writing a new

[2015-10-23 03:18] legokichi commented on #28
I see. Thank you for your answer. :+1:

[2015-10-23 03:18] #28 closed, assigned to nobody

[2015-10-23 08:34] avesus commented on #18
:+1:

[2015-10-25 11:33] anko commented on #29
Have you considered #24 (reader macros)? Something like @lhorie's [read-table-based parser](https://gist.github.com/lhorie/3095cf62023b74d27fc9) might get 2 birds with 1 stone.

[2015-10-25 14:59] vendethiel commented on #24
That'd be amazing, but you need to decide on how you "hook" readtables ("per-files", say, like racket's #lang)

[2015-10-25 17:08] anko commented on #24
@vendethiel I'm thinking compiler flag, like [transform macros](https://github.com/anko/eslisp/blob/v0.6.2/doc/how-macros-work.markdown#transform-macros) are now.

[code]

—where `eslisp-square-bracket-array` and `eslisp-clojureish-quotes` are fictional modules that define read macros.

I know only little Racket, but `#lang` seems to affect the whole language. I'd instead like it to be possible to

[2015-10-25 17:23] vendethiel commented on #24
It sure would be more composable, but different modules will want different transformers (obviously), so need to integrate that correctly with the module system/builder.

[2015-10-25 17:39] anko commented on #32
Agreed; `()` → `null` would be neat. It should mean _something_, and `null` is least surprising.

The `for` macro could just do its own detection of when its first 3 arguments are empty lists.

[2015-10-25 18:26] vendethiel commented on #32
IIRC, it is in common lisp.

[2015-10-26 01:13] dead-claudia commented on #29
Good point. It's already mostly written, though, and I used a very similar method for the parsing. [Here's what I have so far, although it's not yet tested.](https://gist.github.com/impinball/702ccc6b76e75bd8c9df) I wouldn't have to modify it much to allow for readtable parsing.

[2015-10-26 03:55] lhorie commented on #29
My two cents: when I added support for this to my toy compiler last week, I actually didn't need to change the parser all that much, because, as you can see from @anko's link, it's _extremely_ lenient with tokens (e.g it'll happily tokenize insane things like `"a`, `1b7` and `}o{`).

I have a theory that overkill leniency is a good property to have in a parser when you have a language that is desi

[2015-10-26 03:58] dead-claudia commented on #29
That's pretty close to what I was planning on doing for Eslisp when I get
the time. Parse it where numbers are currently parsed.

On Sun, Oct 25, 2015, 23:55 Leo Horie notifications@github.com wrote:

[2015-11-03 05:34] egasimus opened #33 "capmacro doesn't capture subsequent macros"
This code:

[code]

compiles to:

[code]

rather than:

[code]

What do I do?

[2015-11-03 11:19] vendethiel commented on #33
seems to be a duplicate of #27

[2015-11-03 15:22] lhorie commented on #11
It looks like as of version 6.0, Babel is no longer ESTree compliant. I [opened an issue](https://github.com/babel/babel/issues/2769) over there but the author said he's not willing to support the standard format anymore.

[2015-11-04 14:33] anko commented on #11
Perhaps we should altogether move to target [Babel's AST spec](https://github.com/babel/babel/blob/master/doc/ast/spec.md)?

Pros:
- Much easier to use experimental features.
- Can use other stuff in Babel's ecosystem, though I'm not familiar with it.

Cons:
- It's work.
- Lose [estools](https://github.com/estools)-compatibility. The ones we're using are—
  - [esvalid](https://github.com/estools/e

[2015-11-04 14:48] lhorie commented on #11
That's a possible solution. Another solution is to write a compatibility layer that takes a estree ast as input and outputs a babel ast.

[2015-11-04 19:13] hzoo commented on #11
@lhorie not sure if you saw my comment in the issue (maybe missed it since it was right before yours) but basically I'l be doing a `compatibility layer`

[2015-11-04 19:31] lhorie commented on #11
Ooh nice. That's awesome to hear. I totally did miss your comment. @hzoo

[2015-11-06 13:10] anko commented on #33
Yep, as @vendethiel says, this is a different manifestation of the same undelying problem as #27.

I'm almost done with a big rework of the macro API, which will eliminate this problem, among others. Watch #27 for updates.

[2015-11-06 13:10] #33 closed, assigned to nobody

[2015-11-06 16:23] hzoo commented on #11
@lhorie https://github.com/babel/acorn-to-esprima/pull/3 - I'l need to add a lot more tests since I know some of the loc/range info is wrong now.

[2015-11-11 15:55] #27 closed, assigned to nobody

[2015-11-25 19:07] #18 closed, assigned to nobody

[2015-11-25 19:19] anko commented on #18
While not _absolutely perfect_, the source maps as merged in 337a95a are pretty much correct.

Sample visualisation (using [this tool](http://sokra.github.io/source-map-visualization) made by [Tobias Koppers](https://github.com/sokra)):

![flyby of a visualisation](https://cloud.githubusercontent.com/assets/5231746/11407084/dc5a2df2-93b0-11e5-9d72-f5c75d665156.gif)

:tada::balloon:

[2015-12-01 20:11] anko opened #35 "Source maps are unhelpful when used with transform macros"
At the moment, the compiler cannot resolve source locations beyond where macros are called. It deliberately treats macros as black boxes, to insulate user macros from having to know anything about the location data stored on S-expression nodes.

**Example**: If someone has defined a macro `hello` and call it as `(hello there a b c d)`, currently anything at all that `hello` call returns is just so

[2015-12-01 20:46] yousefamar commented on #35
:+1:

I agree that the first sounds better.

[2015-12-16 19:54] ktodyruik opened #36 "Why do source maps fail on Windows?"
Hi,

I did two simple tests with source maps. Since I am new to working with source maps, I did one test with coffeescript and one test with eslisp. The coffee script test worked right away. With eslisp, I can't seem to get it working at all in Chrome. Can somebody confirm that it is working? Has anyone else had difficulty?

Thanks,
Kerry

[2015-12-19 20:54] anko commented on #36
What exactly did you try?

This works for me:
1. Create test directory and change to it
   `mkdir /tmp/test ; cd /tmp/test`
2. Create test elisp file
   `echo '((. console log) "hi")' > test.esl`
3. Compile with an embedded source map
   `eslc --embed-source-map test.esl > test.js`
4. Create test HTML page that pulls in the JS
   `echo '<script src="test.js"></script>' > index.html`
5. Start servi

[2015-12-21 03:25] ktodyruik opened #37 "Documentation code example for “mean” macro fails with TypeError"
Hi,

I've been getting some errors in my macros. It's likely I'm making mistakes, so I tried an example from the documentation. I seem to be having trouble with @,

This macro:

[code]

Throws and error when I compile it. Here is the error:

[code]

[2015-12-21 20:19] anko commented on #37
That example is out of date. Sorry! It's my fault.

Almost all of the code examples are set up to be automatically tested (with [tests-ex-markdown](https://github.com/anko/tests-ex-markdown)), but that one seems to have slipped through. I'll fix that and review what other examples might be untested.

For now, [`test.ls` contains a similar test, which definitely works](https://github.com/anko/eslis

[2015-12-21 21:07] #37 closed, assigned to nobody

[2015-12-22 15:42] ktodyruik commented on #36
i was using --source-map-outfile on Windows. Still not sure why it was not working for me. I went through your helpful reply, using --embed-source-map instead, and it worked great. I also tried it on both Linux and Windows and it works fine.
Thanks!
Kerry

[2015-12-23 23:57] ktodyruik opened #38 "JQuery"
I was wondering, how would you access JQuery elements in ESLisp?

Thanks,
Kerry

[2015-12-24 00:00] ktodyruik opened #39 "Livescript piping operator in eslisp?"
I was wondering, how would you write the livescript pipe operator |>, in eslisp?

[code]

Thanks,
Kerry

[2015-12-26 05:18] #38 closed, assigned to nobody

[2015-12-26 08:53] dead-claudia commented on #13
@anko I think the difficulty is that sexpr-plus aliases `'foo` as `(quote foo)` and returns that result, instead of combining the two. We'd have to create a new node type for sexpr-plus to fix that problem (it's bad behavior IMHO, but it'd require a major version bump as sexpr-plus is already past 1.0). Meanwhile, I'm tentatively implementing @lhorie's syntax.

[2015-12-26 08:54] dead-claudia commented on #13
My tentative implementation is coming in a PR I'm currently working on, which will fix both this and #23.

[2015-12-26 11:44] dead-claudia commented on #11
Update: escodegen fully supports ES6 AFAICT, and I've already started some of this process in #41.

[2015-12-26 11:54] dead-claudia commented on #39
@ktodyruik Try a macro:

[code]

That might be all you need.

[2015-12-26 12:02] dead-claudia commented on #9
@anko

Could this be implemented via an [env::fail()](https://github.com/anko/eslisp/blob/master/src/env.ls#L41-L161) method? That could also be potentially useful for macro writers as well, if they need to fail with a more descriptive error than simply "Oh, by the way, this will break if you're not careful", which is a common problem with macros, especially when you're dealing with DSLs.

I was j

[2016-01-01 14:16] anko commented on #39
@ktodyruik

That exact syntax isn't possible in eslisp, because it's not an [S-expression](https://en.wikipedia.org/wiki/S-expression).

I'm working on read macros as a proposed feature (https://github.com/anko/eslisp/issues/24) though: if that exact syntax is really important for you, it might become possible in the future. Follow there if you're interested.

For now,  @isiahmeadows' suggestion o

[2016-01-01 14:23] anko commented on #36
Do you still remember the error you got on Windows?

I have a new theory about why this might have happened: some parts of code might assume the file path separator to be `/` (correct on Linux) rather than `\` (correct on Windows).

[2016-01-01 14:27] anko commented on #26
Closing this for now, because I'm unclear on what you meant.

This sounded interesting though—if you could clarify, I'll reopen.

[2016-01-01 14:27] #26 closed, assigned to nobody

[2016-01-02 15:36] dead-claudia commented on #39
@anko

Yeah... I typed that off the top of the top of my head, didn't even bother trying to verify that with the compiler. :smile:

[2016-01-02 15:46] anko commented on #39
Woah, I was sure you'd copied it from existing code! :smile:

I'm closing this issue, because @isiahmeadows' solution works very well, and is the idiomatic way of doing this in eslisp. Reader macros (#24) _might possibly eventually_ allow the exact syntax, but it's still a little too far to constructively discuss right now.

[2016-01-02 15:46] #39 closed, assigned to nobody

[2016-01-02 15:59] dead-claudia commented on #39
@anko `->` is the equivalent in Clojure. [It's been there a while](https://github.com/clojure/clojure/blob/master/src/clj/clojure/core.clj#L1585-L1599), and it has the same semantics. I don't think it would be very Lispy to make it a reader macro, but that's just my opinion.

[2016-01-02 18:39] anko opened #44 "Building on Windows"
It has come to my attention that eslisp doesn't build on Windows.

I don't have a Windows machine to test on, but from what I can gather, these are the points of friction, in the form of a todo list:
- [ ] CI-test it, so users on other platforms also know it works. ([Travis doesn't do Windows](https://github.com/travis-ci/travis-ci/issues/216). Alt: [AppVeyor](https://www.appveyor.com/)?)
- [ ] Re

[2016-01-02 22:10] anko commented on #9
@isiahmeadows I've just had macros throw an error when user input is nonsensical.

However, the compilation env makes no attempt to catch errors from macros at the moment. Hence the stack traces don't tell you useful stuff e.g. which macro it was that errored. I think catching would be a better way than an `env::fail`, because something the macro-writer didn't think to check for might throw an err

[2016-01-02 22:20] vendethiel commented on #44
`make` isn't in issue in itself (it works fine on my machine, though I'd probably prefer a full-js alternative..). The main problem is the incompatible binaries (example in LS, `find`)

[2016-01-02 23:08] anko commented on #9
f19be373fbcba3c0fc380c2adc15d0f4e171b1f0 now catches macro errors and adds diagnostic data before rethrowing. Thanks for raising that.

[2016-01-02 23:10] anko commented on #44
@vendethiel What do you mean by incompatible binaries? Is “LS” [LiveScript](http://livescript.net/)?

[2016-01-02 23:17] anko commented on #38
For the record, [this was addressed in chat](https://gitter.im/anko/eslisp?at=567b07e33c68940269249b2f).

[2016-01-03 00:46] vendethiel commented on #44
Yes, sorry. [this line in particular](https://github.com/gkz/LiveScript/blob/master/Makefile#L3) breaks building on windows.

[2016-01-03 01:36] dead-claudia commented on #44
There's no reason why LiveScript's build process should make _this_ not
buildable on Windows. If that's the case, then it's a massive LiveScript
bug that I'm shocked was never filed _and_ fixed.

I was looking at the fact make doesn't work well on Windows without Cygwin
or the like. I normally use Linux, so it's not an issue for me,  but it
could be an issue for some. Although, you could use npm s

[2016-01-03 12:11] vendethiel commented on #44
No, I just quoted LiveScript's build as an example of something that uses a Makefile but doesn't build on windows.

[2016-01-06 08:42] dead-claudia commented on #24
My recent refactorings in anko/sexpr-plus#4 seem to be promising in this area...

[2016-01-06 09:16] dead-claudia commented on #44
@anko
1. AppVeyor sounds fine.
2. `npm` would even work. `lsc` works with directories, and you could use `npm run compile` and `{"scripts": {"compile": "lsc src -cbo dest"}}`. The rest should work similarly. (npm scripts are actually executed as shell commands)
3. That _should_ also be fixed by #43, but I haven't tested it on my Windows installation (which is currently somewhat broken and unusuall

[2016-01-13 00:35] raymond-w-ko commented on #44
Hello, I am looking alternate languages for a project my company is doing. Since I like Lisp, but my company is mostly using Windows, I am interested in getting this working.

What should I be focusing on first?

I guess I should try this out on Linux first, so I can see what is going on, and how the normal build process works.

[2016-01-13 07:51] dead-claudia commented on #44
I believe you should already be able to use this on Windows, as the
compiled version on npm should work everywhere. The problem this bug is
discussing is being able to hack on the compiler itself on Windows. You can
still use LiveScript on Windows, even though you can't exactly build the
compiler.

On Tue, Jan 12, 2016, 19:35 Raymond W. Ko notifications@github.com wrote:

[2016-01-14 12:45] ghost opened #45 "`require` doesn't work in REPL"
`require` doesn't work in the REPL:

[code]

However the binding macro example (which is using `require`) in **How eslisp macros work (a tutorial)** works fine in the REPL.
(**jisp** already has `require` in the REPL, but it doesn't have quoting and other important stuff)

[2016-01-14 20:02] #45 closed, assigned to nobody

[2016-01-14 20:06] anko commented on #45
Thanks for reporting.

I'd forgotten to set the `useGlobal`-option to [`repl.start`](https://nodejs.org/api/repl.html#repl_repl_start_options), so all code entered into the REPL ran with a `global` object that didn't have the Node-specific globals (e.g. `require`) bound.

This should be fixed in 0.7.4.

[2016-01-15 10:31] ghost commented on #45
Thanks a lot for fixing so quickly. Really nice finally trying a JS lisp that has proper quasiquoting!

[2016-01-18 00:17] anko commented on #24
I've been thinking hard about this feature, and sketching implementations. I think I finally have a plan for powerful enough reader macros that are simple enough to implement and maintain. It departs from the Lisp tradition of readtable-based parsers.

The following is a design overview, for critique and posterity.

For a working proof-of-concept of this type of parser, refer to [the `expose-subpa

[2016-01-18 09:43] dead-claudia commented on #24
@anko My parser isn't a readtable parser, but is somewhat similar. I felt compelled to address that nit.

Although I have no problem with you taking it that direction, as long as you ensure anko/sexpr-plus#1 (or I'll patch it if it isn't) and anko/sexpr-plus#3 (a prerequisite for solving several ES6 macro-related problems in Eslisp) are taken care of. I actually like that direction better.

That a

[2016-01-18 10:01] dead-claudia commented on #24
Another thing: you may want to open up certain parts of sexpr-plus to allow transform macros to hook into that more effectively and natively (e.g. don't re-implement string parsing). Also, it would be a good idea to create a syntax-walker-style API for transform macros, so they can hook into the parsing more efficiently, which would be good for larger projects.

[2016-01-18 10:05] vendethiel commented on #24
Well, now there's a need to find a way to write the config files with eslisp :P.

The biggest issue with Common Lisp's approach is late binding

[code]

... You can only report syntax errors when you get to executing that form, never before, because the forms before it might change the readtable, making the syntax valid ...

[2016-01-18 10:13] dead-claudia commented on #24
@vendethiel There is that, too. And that's yet another reason why I support @anko's idea of using Parsimmon with subparsers. It's all at compile-time, and there's not nearly as much magic you have to worry about (which late binding almost always generates).

[2016-01-19 00:11] anko commented on #24
@vendethiel

:laughing: Have to bootstrap somehow!

I agree, but on the other hand, late binding is why you can write CL read macros in CL, instead of in a JavaScript config file… Design tradeoffs.

@isiahmeadows

Exactly where I'm going with this!

For example, the anko/sexpr-plus#1 feature (ASCII/Unicode string escapes) could be implemented as a separate module [like this](https://github.com/ank

[2016-01-22 00:06] dead-claudia commented on #24
@anko And one other thing with Parsimmon: it's easier to test code correctness with a monadic style.

I do have a question about how it would relate to anko/sexpr-plus#3, which is IMHO more important here than expanded string parsing (although easier to implement): would you be okay with having a separate data type for each quote? And just use those natively in Eslisp. It would simplify macro writ

[2016-01-26 02:17] anko commented on #24
@isiahmeadows Replied in https://github.com/anko/sexpr-plus/issues/3, [here](https://github.com/anko/sexpr-plus/issues/3#issuecomment-174778018) to keep the thread intact.

[2016-01-26 08:39] dead-claudia commented on #24
@anko Thanks for the input. I just killed that bug because I didn't realize the _existing_ way to check (that you mentioned).

I can't wait to see how your patch ends up, though.

[2016-03-04 23:28] #32 closed, assigned to nobody

[2016-03-04 23:36] anko commented on #36
Closing due to inactivity. Comment or reopen if you encounter this again or find more data.

[2016-03-04 23:36] #36 closed, assigned to nobody

[2016-06-13 03:05] 11111000000 commented on #11
#41 merged, any news here?

[2016-06-14 15:07] anko commented on #11
@11111000000

#41 _isn't_ merged, and so the macros that eslisp comes with don't support ES6 yet. The current approach in #41 still introduces ambiguity, as outlined in the description of my PR https://github.com/isiahmeadows/eslisp/pull/1. I think that path isn't going to work out, since most of ES6 changes are at the syntactic level.

I'd bet on an eventual solution coming through #24.

For now,

[2016-06-14 16:13] 11111000000 commented on #11
@anko: thanks, watch closely

[2016-06-16 17:29] dead-claudia commented on #11
May I also point out that the `isExpression`, etc. are part of Babel, anyways (and they've been that way since at least 5)? I'm not a huge fan of Babel, but I just thought I'd point that out.

[2017-03-24 03:01] iovdin opened #49 "(- 3 2 1) !== 3 - (2 - 1)"
I expect `(- 3 2 1)` to be translated to `3 - 2 - 1` which evaluates to `0` in javascript
while `3 - (2 - 1)` evaluates to `2`

im to fix it

[2017-03-25 13:00] iovdin commented on #13
i'd expect `(. (foo) (bar))` to be translated to `foo().bar()`
which actually translates to `foo()[bar()]`

[2017-03-25 15:23] vendethiel commented on #13
You want `((. (foo) "bar"))`.

[2017-03-25 15:28] iovdin commented on #13
@vendethiel right,
but for long chains which happens quite often it becomes not that readable
`(. (foo) (bar) (baz))` i have to write `((. ((. (foo) "bar") "baz)))`

[2017-03-25 17:20] vendethiel commented on #13
You might be interested in https://www.npmjs.com/package/eslisp-chain

[2017-03-26 08:25] iovdin commented on #13
@vendethiel thanks

[2017-05-03 17:41] #49 closed, assigned to nobody

[2017-05-03 17:45] anko commented on #49
What an embarrassing mistake. I forgot about [associativity](https://en.wikipedia.org/wiki/Operator_associativity)! Commit 2c48d06 should make [the appropriate operators](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Operator_Precedence) left-associative.

Should work as you expect in v0.7.5.

[2017-05-04 19:15] raymond-w-ko opened #50 "eslisp 0.7.5 breaks eslisp-camelify and eslisp-propertify (and maybe eslisp-fancy-function)"
Hello, I recently upgraded my project's dependencies and noticed this error when trying to compile `*.esl` files.

`eslisp-camelify` is checkout from the official Git repo.

It seems like something has changed, and `this` is no longer bound to the eslisp object, so that `this.multi()` fails because `this` is null?

[code]

[2017-05-04 19:18] raymond-w-ko commented on #50
No, it is probably related to this commit where `this.multi()` was removed in favor of using JS Array.

eec8e6f40262b733adf1cd116efd80c438e75c82

[2017-05-04 19:48] raymond-w-ko commented on #50
I've created pull requests to fix the two transforms

anko/eslisp-propertify#4
anko/eslisp-camelify#4

[2017-05-04 19:51] raymond-w-ko commented on #50
I don't personally use anko/eslisp-fancy-function but this may need a review after the two plugins are updated. It depends on those two.

[2017-05-04 21:27] anko commented on #50
Thanks—I'll have a look tomorrow.

I really should put together a script that tests [all packages on npm tagged eslisp-macro](https://www.npmjs.com/browse/keyword/eslisp-macro) against current eslisp HEAD before I publish.

[2017-05-04 21:30] anko opened #51 "Test new versions against all macros on npm"
—since [there are so few](https://www.npmjs.com/browse/keyword/eslisp-macro).

Eslisp is still 0.x.x, so any sort of stability is too early to expect, but it would still be a nice hack to catch borks (like https://github.com/anko/eslisp/issues/50) before they bork.

[2017-05-05 15:31] anko commented on #50
I merged your PRs https://github.com/anko/eslisp-camelify/pull/4 and https://github.com/anko/eslisp-propertify/pull/4, and released corresponding `eslisp-camelify@0.4.0` and `eslisp-propertify@0.3.0` with them. Thanks for your help! :sparkles:

I'll leave this open for now, while I check how `eslisp-fancy-function` is doing.

[2017-05-21 03:36] newhouseb opened #52 "Export ast-to-estree?"
Hi,

I'd like to use eslisp to evaluate eslisp, so that I can do things like:

`(eval (quote (+ 1 2 3)))`

`eval`, of course, takes Javascript so I'd like a way to transform the estree (as returned by quote) to javascript. Looking at https://github.com/anko/eslisp/blob/master/src/index.ls, it appears that we might be able to export ast-to-estree such that something like

`(eval (ast-to-estree (quo

[2017-05-21 14:07] anko commented on #52
Trying to isolate the root issue—correct me if I'm wrong:

You want to evaluate `(+ 1 2 3)` at compile-time, such that its output (`6`) is inserted into the output JavaScript as a numeric constant.

At the moment, you could do that with [`this.evaluate` inside a macro](https://runkit.com/anko/59218e627e278b001416de25):

[code]
The output is:

[code]

- - -

The only sparse documentation I've writt

[2017-07-30 05:59] alandipert opened #53 "`return` requires an argument"
In Javascript, `return;` in a function returns `undefined`

In eslisp, the built-in `return` macro requires an argument, so returning without a value requires writing `(return undefined)`

[2017-07-30 11:13] #53 closed, assigned to nobody

[2017-07-30 11:20] anko commented on #53
Thanks for catching that!

I've published `0.7.6` which should fix `return` to allow zero arguments. ([Demo here](https://runkit.com/anko/597dc1102bb82e0014ab8df5).)

[2017-07-30 15:49] alandipert commented on #53
Thanks for fixing!

[2018-12-03 21:22] ghost opened #55 "Issue using atoms with macros"
I'm writing a macro to convert a hex atom into a decimal literal since eslisp doesn't seem to like hex literals

Current macro code looks like this:
[code]
And the compiled JS looks like this:
[code]
Calling it with `(macro test (require "./mac.js")) (test 'ff)` returns the following error:
[code]
Am I doing anything wrong, or is this some weird issue with eslisp?

[2018-12-03 21:57] ghost commented on #55
Realized I could do this with a function, too, and it still had the same issue

[2018-12-03 22:30] ghost commented on #55
I ended up just precomputing the value with
[code]
and it works fine, my bad!

[2018-12-03 22:30] #55 closed, assigned to nobody

[2020-01-11 16:18] vuolen opened #56 "Recursive macros"
I might be missing something, but a simple recursive macro call
[code]

leads to the error

[code]

Calling `arguments.callee` works, however it is neither recommended or elegant. Is there any alternative?

[2020-01-11 20:26] anko commented on #56
Compiling a macro that calls itself as part of its definition like that would always recurse infinitely: To compile the function that implements the macro `test`, the compiler would need to know what code `(test)` returns, so it would need to call the macro `test` to find out, so it would need to compile the function that implements the macro `test`, et cetera, recurring infinitely. This is why I

[2020-01-11 20:39] vuolen commented on #56
Apologies for my simplified example. Of course it would cause an infinite loop if it worked, my intention was to just recreate the error message.

However, you managed to answer the actual question in hand. Thank you!

[2020-01-11 20:39] #56 closed, assigned to nobody

[2020-01-16 18:44] anko opened #57 "Also validate newer estree nodes"
@vuolen [noticed](https://gitter.im/anko/eslisp?at=5e1f9525123d916da2433a6b) that newer estree nodes like `ClassDeclaration` were erroring when macros output them. I fixed that in https://github.com/anko/eslisp/commit/a792d031ff59a16b7ed80aba59fc72e4fad7d58a (published in 0.8.1) the best I can right now… which was by ignoring errors with estree nodes newer than [esvalid](https://github.com/estools

[2020-10-28 07:11] branneman opened #58 "Error on fresh install: Cannot find module 'concat-stream'"
Steps to reproduce:
[code]

Output:
[code]

Workaround:
[code]

Potential fix: this seems like a simple missing dependency, which should just be added to the `package.json`.

[2020-10-28 07:35] branneman opened #59 "Question: docs/tips for syntax highlighting?"
Which VS Code extension to you recommend to use for eslisp? I started using [Lisp by Yasuhiro Matsumoto](https://marketplace.visualstudio.com/items?itemName=mattn.Lisp), but I'm unsure if better ones are available. What are your thoughts on this?

I think it adds value to recommend an existing VS Code extension in the readme or the docs. Why single out VS Code? Because it's the biggest one out the

[2020-10-28 10:06] anko commented on #58
Oops.

It's in `devDependencies`, so the tests are passing.  But it should be in `dependencies`, so the package would work.

[2020-10-28 10:06] #58 closed, assigned to nobody

[2020-10-28 10:12] anko commented on #58
Published in v0.8.2.

[2020-10-28 10:13] branneman commented on #58
:tada:

[2020-10-28 17:01] anko commented on #59
I use vim for everything, so I wouldn't know.

Eslisp's syntax is pretty much identical to Scheme, so I imagine modifying a Scheme highlighter would be the easiest option.  I'm sure the source or such a highlighter has a list of standard forms somewhere, which could just be changed to correspond to eslisp's built-in macros instead.

If you want to make it, please do.  I think it would be best in a

[2020-10-28 19:19] kaukas opened #60 "export default?"
Sorry for a (likely) newbie question: how does one `export default {x, y, z}`?

[2020-10-28 20:41] anko commented on #60
Eslisp only has ES5 features for now, so it can't do anything module-related like `export`.

I should be the one saying sorry.  I should communicate this better in the readme.  In my defense, when I last properly worked on this project, ES6 was a cutting edge thing behind a feature flag in Node.js.

- - -

However, macros are magic and the code generator supports everything, so if you really need

[2020-10-28 21:16] kaukas commented on #60
Thank you for such a quick and extensive explanation!

I tried to integrate eslisp into a rollup-based pipeline in an existing project. `export default` turned out to be a lesser problem (used commonjs) compared to the fact that I did not find a simple way to `require` an esl file. Apparently in the simplest case the files are expected to be pre-compiled. To fix this I suspect I would need to defi

[2020-10-28 21:16] #60 closed, assigned to nobody

[2020-10-28 23:13] yousefamar commented on #60
I would say the path of least resistance is to write a rollup plugin for esl files. I did the same for webpack through an [eslisp loader](https://github.com/yousefamar/eslisp-loader), although this was a long time ago before eslisp had macros I think, so I'm not sure what the implications of that would be.

[2020-10-29 07:05] branneman commented on #59
And which highlighting rules/package do you use in vim then? The one for Scheme?

[2020-10-29 12:09] anko commented on #59
@branneman  Yep.

[code]

Though I use that less for the highlighting, and more for how it changes the rules of vim's built-in autoformat command (`=`) to use a "wider" Lisp style:
[code]

The more compact style it uses with no `filetype` is sometimes less clear:

[code]

[2020-10-29 17:05] anko commented on #60
@kaukas

You're right.  Calling `require` in eslisp literally compiles to calling `require` in JavaScript, and JavaScript doesn't understand `.esl` files.

I deal with this by using [`make`](https://en.wikipedia.org/wiki/Make_(software)) to compile everything, with a `makefile` much like this:

[code]

If you target frontend, and you'll bundle everything anyway, a rollup plugin would also be a goo

[2020-10-31 23:42] VincentToups opened #61 "Macro Hygiene"
The documentation says lisp-like hygienic macros are supported but there isn't much else by way of documentation. Can you elaborate? Most of the time (Common) Lisp style macros are not called hygienic.

[2020-11-01 14:23] anko commented on #61
You're right, the documentation is imprecise.  Worse; it's also incorrect.

I was going by the [Wikipedia definition of _hygienic macro_](https://en.wikipedia.org/wiki/Hygienic_macro): Redefining a macro that previously-defined macros are using shouldn't change how the outputs of those previously-defined macros are interpreted.  As you say, Common Lisp's macro system does *not* have this property.

[2020-11-01 15:11] VincentToups commented on #61
Scheme syntax-transformations have a somewhat broader meaning for the word hygiene. I'm hardly an expert in hygienic macros (though I am very familiar with syntax-case) but the key feature in my mind is that symbols introduced during macro expansion are guaranteed to not clash with any other symbols which may be in scope for the code which is being transformed.

My hand-waving way of thinking of t